* {
    color: blue;
}

h1 {
    color: black;
}

.potato,
#title {
    color: red;
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

img {
    height: auto;
    width: 300px;
}